

@keyframes botao_hover{
    0%{width: 140px ; height: 50px}
    100%{width: 150px ; height: 60px}
}

body{
    background-color: beige;
    text-align: center;
}

h1{
    color: rgb(80, 80, 80);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 40px;
    
}

#stage{
    display: grid;
    grid-template-areas: "forca tela"
                        "forca campo";
    margin:auto;
    justify-items: center;
    width: 1000px;

    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.507);
}



.tela_palavra{
    border-radius: 0px 20px 0px 0px;
    grid-area: tela;
    background-color: rgb(255, 110, 110);
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.campo_preenchimento{
    border-radius: 0px 0px 20px 0px;
    grid-area: campo;
    background-color: rgb(188, 117, 255);
    width: 700px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.campo_preenchimento p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

#campo_aviso{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#campo_aviso2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    height: 50px;
    margin: 10px;
    color: white;
    
}

#campo_secreto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;

}

#dica{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#campo{
    width: 200px;
    height: 70px;
    margin-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    border-radius: 20px;
}

.botao_submit{
    width: 100px;
    height: 40px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    border-radius: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#botao_trocar{
    background-color: red;
    color: white;
    display: none;
}



/*FORCA*/

.forca{
    border-radius: 20px 0px 0px 20px;
    grid-area: forca;
    background-color: rgb(97, 97, 255);
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/*Botoes*/
.botao{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: orange;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);

    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.botao:hover{
    animation-name: botao_hover;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.campo_opcoes{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.campo_botoes1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campo_botoes2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto_opcoes{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}